.menu-bar svg {
    width: 25px;
    height: 25px;
}

/* small screens */
@media(max-width: 639px) {
    .center-links {
        display: none;
    }
}

/* medium screens */
@media (min-width: 640px) and (max-width: 1023px) {
    .menu-bar {
        display: none;
    }
}


/* large screens */
@media (min-width: 1024px) {
    .menu-bar {
        display: none;
    }
}