.search-nav svg {
    height: 50px;
}

/* small screens */
@media (max-width: 639px) {
    .search-nav input {
        background-color: white;
        width: 100%;
    }
}

/* Medium screens */
@media(min-width: 640px) and (max-width: 1023px) {

    .search-nav .search-icon {
        right: 0;
        width: 40px;
        background-color: blue;
    }

    .search-icon svg {
        color: white;
        margin-left: 10px;
        margin-top: 5px;
    }

    .search-nav input {
        width: 100%;
    }
}